v3d_main/webservice/console/cds.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.FlyWorkstation.it.janelia.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.FlyWorkstation.it.janelia.org/" name="ConsoleDataService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.FlyWorkstation.it.janelia.org/" schemaLocation="http://localhost:30001/axis2/services/cds?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:30001/axis2/services/cds?xsd=2" />
</xsd:schema>
</types>
<message name="removeAnnotation">
<part name="annotationId" type="xsd:long" />
</message>
<message name="removeAnnotationResponse" />
<message name="getEntityById">
<part name="entityId" type="xsd:long" />
</message>
<message name="getEntityByIdResponse">
<part name="return" type="tns:entity" />
</message>
<message name="getEntityTree">
<part name="entityId" type="xsd:long" />
</message>
<message name="getEntityTreeResponse">
<part name="return" type="tns:entity" />
</message>
<message name="getAnnotationsForEntity">
<part name="entityId" type="xsd:long" />
</message>
<message name="getAnnotationsForEntityResponse">
<part name="return" type="tns:entityArray" />
</message>
<message name="getAnnotationsForEntities">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="entityIds" type="ns1:longArray" />
</message>
<message name="getAnnotationsForEntitiesResponse">
<part name="return" type="tns:entityArray" />
</message>
<message name="getCurrentOntology" />
<message name="getCurrentOntologyResponse">
<part name="return" type="tns:entity" />
</message>
<message name="reservePort">
<part name="clientName" type="xsd:string" />
</message>
<message name="reservePortResponse">
<part name="return" type="xsd:int" />
</message>
<message name="registerClient">
<part name="port" type="xsd:int" />
<part name="endpointUrl" type="xsd:string" />
</message>
<message name="registerClientResponse" />
<message name="createAnnotation">
<part name="annotation" type="tns:ontologyAnnotation" />
</message>
<message name="createAnnotationResponse" />
<message name="getKeybindings">
<part name="ontologyId" type="xsd:long" />
</message>
<message name="getKeybindingsResponse">
<part name="return" type="tns:ontologyKeyBindings" />
</message>
<message name="getParentEntityDataArray">
<part name="childEntityId" type="xsd:long" />
</message>
<message name="getParentEntityDataArrayResponse">
<part name="return" type="tns:entityDataArray" />
</message>
<portType name="ConsoleDataService">
<operation name="removeAnnotation">
<input message="tns:removeAnnotation" />
<output message="tns:removeAnnotationResponse" />
</operation>
<operation name="getEntityById">
<input message="tns:getEntityById" />
<output message="tns:getEntityByIdResponse" />
</operation>
<operation name="getEntityTree">
<input message="tns:getEntityTree" />
<output message="tns:getEntityTreeResponse" />
</operation>
<operation name="getAnnotationsForEntity">
<input message="tns:getAnnotationsForEntity" />
<output message="tns:getAnnotationsForEntityResponse" />
</operation>
<operation name="getAnnotationsForEntities">
<input message="tns:getAnnotationsForEntities" />
<output message="tns:getAnnotationsForEntitiesResponse" />
</operation>
<operation name="getCurrentOntology">
<input message="tns:getCurrentOntology" />
<output message="tns:getCurrentOntologyResponse" />
</operation>
<operation name="reservePort">
<input message="tns:reservePort" />
<output message="tns:reservePortResponse" />
</operation>
<operation name="registerClient" parameterOrder="port endpointUrl">
<input message="tns:registerClient" />
<output message="tns:registerClientResponse" />
</operation>
<operation name="createAnnotation">
<input message="tns:createAnnotation" />
<output message="tns:createAnnotationResponse" />
</operation>
<operation name="getKeybindings">
<input message="tns:getKeybindings" />
<output message="tns:getKeybindingsResponse" />
</operation>
<operation name="getParentEntityDataArray">
<input message="tns:getParentEntityDataArray" />
<output message="tns:getParentEntityDataArrayResponse" />
</operation>
</portType>
<binding name="CdsPortBinding" type="tns:ConsoleDataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="removeAnnotation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="getEntityById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="getEntityTree">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="getAnnotationsForEntity">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="getAnnotationsForEntities">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="getCurrentOntology">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="reservePort">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="registerClient">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="createAnnotation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="getKeybindings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="getParentEntityDataArray">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
</binding>
<service name="ConsoleDataService">
<port name="CdsPort" binding="tns:CdsPortBinding">
<soap:address location="http://localhost:30001/axis2/services/cds" />
</port>
</service>
</definitions>