v3d_main/webservice/console/obs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.FlyWorkstation.it.janelia.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.FlyWorkstation.it.janelia.org/" name="ConsoleObserver">
<types />
<message name="ontologySelected">
<part name="rootId" type="xsd:long" />
</message>
<message name="ontologySelectedResponse" />
<message name="ontologyChanged">
<part name="rootId" type="xsd:long" />
</message>
<message name="ontologyChangedResponse" />
<message name="entitySelected">
<part name="category" type="xsd:string" />
<part name="entityId" type="xsd:string" />
<part name="clearAll" type="xsd:boolean" />
</message>
<message name="entitySelectedResponse" />
<message name="entityDeselected">
<part name="category" type="xsd:string" />
<part name="entityId" type="xsd:string" />
</message>
<message name="entityDeselectedResponse" />
<message name="entityChanged">
<part name="entityId" type="xsd:long" />
</message>
<message name="entityChangedResponse" />
<message name="entityViewRequested">
<part name="entityId" type="xsd:long" />
</message>
<message name="entityViewRequestedResponse" />
<message name="annotationsChanged">
<part name="entityId" type="xsd:long" />
</message>
<message name="annotationsChangedResponse" />
<message name="sessionSelected">
<part name="sessionId" type="xsd:long" />
</message>
<message name="sessionSelectedResponse" />
<message name="sessionDeselected" />
<message name="sessionDeselectedResponse" />
<portType name="ConsoleObserver">
<operation name="ontologySelected">
<input message="tns:ontologySelected" />
<output message="tns:ontologySelectedResponse" />
</operation>
<operation name="ontologyChanged">
<input message="tns:ontologyChanged" />
<output message="tns:ontologyChangedResponse" />
</operation>
<operation name="entitySelected" parameterOrder="category entityId clearAll">
<input message="tns:entitySelected" />
<output message="tns:entitySelectedResponse" />
</operation>
<operation name="entityDeselected" parameterOrder="category entityId">
<input message="tns:entityDeselected" />
<output message="tns:entityDeselectedResponse" />
</operation>
<operation name="entityChanged">
<input message="tns:entityChanged" />
<output message="tns:entityChangedResponse" />
</operation>
<operation name="entityViewRequested">
<input message="tns:entityViewRequested" />
<output message="tns:entityViewRequestedResponse" />
</operation>
<operation name="annotationsChanged">
<input message="tns:annotationsChanged" />
<output message="tns:annotationsChangedResponse" />
</operation>
<operation name="sessionSelected">
<input message="tns:sessionSelected" />
<output message="tns:sessionSelectedResponse" />
</operation>
<operation name="sessionDeselected">
<input message="tns:sessionDeselected" />
<output message="tns:sessionDeselectedResponse" />
</operation>
</portType>
<binding name="ObsPortBinding" type="tns:ConsoleObserver">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="ontologySelected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="ontologyChanged">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="entitySelected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="entityDeselected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="entityChanged">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="entityViewRequested">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="annotationsChanged">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="sessionSelected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
<operation name="sessionDeselected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.FlyWorkstation.it.janelia.org/" />
</output>
</operation>
</binding>
<service name="ConsoleObserver">
<port name="ObsPort" binding="tns:ObsPortBinding">
<soap:address location="http://localhost:30001/axis2/services/obs" />
</port>
</service>
</definitions>