v3d_main/webservice/soapdep/v3dwebserver.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="v3dwebserver"
 targetNamespace="http://localhost/v3dwebserver.wsdl"
 xmlns:tns="http://localhost/v3dwebserver.wsdl"
 xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
 xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:v3dwebserver"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:v3dwebserver"
  xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
  xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:v3dwebserver"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2003/05/soap-encoding" schemaLocation="http://www.w3.org/2003/05/soap-encoding"/>
  <complexType name="LOAD-MSG">
   <sequence>
     <element name="image-path" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="x" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="y" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="z" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="c" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="t" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="intensity" type="xsd:float" minOccurs="0" maxOccurs="1"/>
     <element name="dt" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="helloworldRequest">
 <part name="name" type="xsd:string"/>
</message>

<message name="helloworldResponse">
 <part name="response" type="xsd:string"/>
</message>

<message name="msghandler">
 <part name="lm" type="ns:LOAD-MSG"/>
</message>

<message name="LOAD-RES">
 <part name="loadtime" type="xsd:float"/>
 <part name="memorysize" type="xsd:long"/>
</message>

<message name="v3dopenfileRequest">
 <part name="fn" type="xsd:string"/>
</message>

<message name="v3dopenfileResponse">
 <part name="v3dfn" type="xsd:string"/>
</message>

<portType name="v3dwebserverPortType">
 <operation name="helloworld">
  <documentation>Service definition of function ns__helloworld</documentation>
  <input message="tns:helloworldRequest"/>
  <output message="tns:helloworldResponse"/>
 </operation>
 <operation name="msghandler">
  <documentation>Service definition of function ns__msghandler</documentation>
  <input message="tns:msghandler"/>
  <output message="tns:LOAD-RES"/>
 </operation>
 <operation name="v3dopenfile">
  <documentation>Service definition of function ns__v3dopenfile</documentation>
  <input message="tns:v3dopenfileRequest"/>
  <output message="tns:v3dopenfileResponse"/>
 </operation>
</portType>

<binding name="v3dwebserver" type="tns:v3dwebserverPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="helloworld">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:v3dwebserver" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:v3dwebserver" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="msghandler">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:v3dwebserver" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:v3dwebserver" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="v3dopenfile">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:v3dwebserver" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:v3dwebserver" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
</binding>

<service name="v3dwebserver">
 <documentation>gSOAP 2.8.1 generated service definition</documentation>
 <port name="v3dwebserver" binding="tns:v3dwebserver">
  <SOAP:address location="http://localhost:9125"/>
 </port>
</service>

</definitions>
